{%extends "layout_2.html"%}
{%block content%}
<div class="Quotes">
    <h1>
        <center><u>Quotes</u></center>
    </h1>
    <h2>
        Quotes
    </h2>
    <ul>
        <li>
            <p>मेरी एक ही जान है और </p>
            <p>वो भी बहुत ज्यादा शैतान है!</p>
        </li>
        <li>
            <p>सुनो कभी तुम नाराज हूए तो हम झुक जाएंगे</p>
            <p>कभी हम नाराज हो तो आप गले लगा लेना</p>
        </li>
        <li>
            <p>बेशक तुम्हें गुस्सा करने का हक है मुझ पर</p>
            <p>पर नाराजगी में कहीं ये मत भूल जाना की हम बहुत प्यार करते हैं तुमसे</p>
        </li>
        <li>
            <p>ना जाने क्यों तुझे देखने के बाद भी.</p>
            <p>तुझे ही देखने की चाहत रहती है!</p>
        </li>
        <li>
            <p>लफ़्ज़ों से कहाँ लिखी जाती है ये बेचैनियां मोहब्बत की,</p>
            <p>मैंने तो हर बार तुम्हे दिल की गहराईयो से पुकारा है।</p>
        </li>
        <li>
            <p>चेहरे देख कर दिल ️लगाया ही नही कभी,</p>
            <p>हां मुस्कुरा‍हटो पर तेरी कई बार जान लुटाई है हमने..!</p>
        </li>
        <li>
            <p>यूँ तो मेरी रूह तलक को छु चुके हो तुम,</p>
            <p>फिर भी माथे को चूमना सुकून दे जाता हैं..!</p>
        </li>
        <li>
            <p>नज़र और नसीब का भी क्या इत्तेफाक है यारों,</p>
            <p>नज़र उसे ही पसंद करती है जो नसीब में नहीं होता !!</p>
        </li>
        <li>
            <p>खुबसूरत इन्सान से मोहब्बत नही होती- बल्कि</p>
            <p>जिस इन्सान से मोहब्बत होती है वो खुबसूरत लगने लगता है</p>
        </li>
    </ul>
    <h2>
        Shayari
    </h2>
    <ul>
        <li>
            <p>प्यार हो जाता है करता कौन हैं ?</p>
            <p>हम तो कर देंगे प्यार में जान भी कुरबान..</p>
            <p>लेकिन पता तो चले कि..</p>
            <p>हम से प्यार करता कौन हैं</p>
        </li>
        <li>
            <P>पत्थर के दिल में भी जगह बना ही लेता है </P>
            <p> ये प्यार है अपनी मंजिल को पा ही लेता है</p>
        </li>
        <li>
            <p>वो दिल क्या जो मिलने की दुआ न करे,</p>
            <p>तुम्हे भूलकर जीऊ यह खुदा न करे,</p>
            <p>रहे तेरी दोस्ती मेरी जिंदगानी बनकर,</p>
            <p>यह बात और है ज़िन्दगी वफ़ा न करे</p>
        </li>
    </ul>
</div>
{%endblock%}